/* ==== Бегущая строка (line) ==== */
.line {
    width: 100%;
    overflow: hidden;
    background: #121213;
    padding: 10px 0;
    position: relative;
    /*position: fixed;*/
}

.line.top {
    top: 0;
}

.line.bottom {
    bottom: 0;
}

.line {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    background: #121213;
    padding: 10px 0;
}

.line-wrapper {
    display: flex;
    width: max-content;
}

.line-content {
    display: flex;
    gap: 40px;
    white-space: nowrap;
    color: #fff;
    font-weight: 400;
    font-style: italic;
    font-size: 48px;
    line-height: 63px;
    animation: line-scroll 40s linear infinite;
}

@keyframes line-scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.line-content:hover {
    animation-play-state: paused;
}

.line-content div.blue {
    color: var(--color-blue);
}

@keyframes line-scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}


@media (max-width: 768px) {
    .line {
        width: 100%;
        overflow: hidden;
        background: #121213;
        padding: 10px 0;
        position: relative;
    }

    .line.top {
        top: 0;
    }

    .line.bottom {
        bottom: 0;
    }

    .line-wrapper {
        display: flex;
        width: max-content;
    }

    .line-content {
        gap: 30px;
        font-size: 32px;
        line-height: 38px;
    }

    .content__wrapper h1 {
        font-size: 60px;
        line-height: normal;
    }

    .content__wrapper .text-content {
        margin-top: 0;
    }
}